---
layout: default
title: Projects
categories: projects
sitemap:
  priority: 0.8
  changefreq: monthly
---

<div id="projects">
  {% assign projects = site.categories.projects %}
  {% for post in projects %}
    {% capture time %}{{ post.content | reading_time }}{% endcapture %}
    {% capture footer %}{{ post.content | split:"<!-- start_footer -->" | last }}{% endcapture %}
    <small class='timeanddate'><i>{{ time }}</i> &sdot; {{ post.date | date:'%a %d %b %Y' }}</small>
    <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
    </a>
    {% if post.thumb %}
      <img src="{{ post.thumb }}" alt="" class="thumb">
    {% endif %}
    {% if post.excerpt != post.content %}
      {{ post.excerpt }}

      {{ footer }}
    {% else %}
       {{ post.content }}
    {% endif %}
    {% if post != projects.last %}
      <hr style='margin-bottom:20px;' />
    {% else %}
      <br />
    {% endif %}
  {% endfor %}
</div>
