---
layout: default
title: Projects
categories: projects
---

<div id="projects" style="padding-top:30px; margin-top:-23px;">
  {% assign projects = site.categories.projects %}
  <div class="pure-g-r">
    {% for project in projects %}
      {% capture modulo %}{{ forloop.index | modulo:2 }}{% endcapture %}
      <div class="pure-u-1-2">
        <div style="padding-right:10px; padding-left:10px;">
          <small style="float:right; margin-top:1px;">{{ project.date | date:'%b %Y' }}</small>
          <a name="{{ project.name }}" href="{{ project.url }}"><h3>{{ project.title }}</h3></a>
          <div><img src="{{ project.thumb }}" alt="" class="thumb">
            {% assign truncated_project = project.content | split:"<!-- truncate_here -->" %}
            {% if truncated_project != project.content %}
              {{ truncated_project.first }}
            {% else %}
             {{ truncated_project.last }}
            {% endif %}
          </div>
          <hr style="clear:both;"/>
        </div>
      </div>
      {% if modulo == '0' %}<br />{% endif %}
    {% endfor %}
  </div>
</div>
