---
layout: default
title: Ryan Seys
root: true
---

<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include sidebar.html %}
      </header>
      <section>
        <h3>
          Welcome!
        </h3>
        <p>
          Hi! I am a Software Engineering undergraduate studying at Carleton University in Ottawa, ON, Canada. This site will act as a portal into some of the better projects I have worked on, and their stories. Please feel free to fork any of my Github projects! I love pull requests :)
        </p>
        <hr />
        {% assign projects = site.tags.project %}
        {% for project in projects %}
          <h3>Project: {{ project.title }}</h3>
          {{ project.content }}
          <hr />
        {% endfor %}
      </section>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <script src="js/scale.fix.js"></script>
  </body>
</html>
