<div class="footer">
  <hr />
  <p>
    <small>
      &copy; Ryan Seys &sdot;&nbsp;
    </small>
    <a href="mailto:ryan@ryanseys.com"><i class="icon-envelope-alt"></i>&nbsp;</a>
    <a href="https://github.com/ryanseys"><i class="icon-github"></i>&nbsp;</a>
    <a href="https://twitter.com/ryanseys"><i class="icon-twitter"></i>&nbsp;</a>
    <a href="https://www.linkedin.com/in/rseys"><i class="icon-linkedin"></i>&nbsp;</a>
    <a href="/blog/rss-atom-support/"><i class="icon-rss"></i></a>
  </p>
</div>
