<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="author" content="Ryan Seys">
<meta name="description" content="A software engineering undergraduate passionate about web development">
<meta name="keywords" content="Ryan,Seys,Web,Development,Personal">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="alternate" type="application/atom+xml" href="/atom.xml" title="Atom feed">
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS feed">
<!-- <link rel="apple-touch-icon" href="https://secure.gravatar.com/avatar/cc18506d6fe15c27aeeab0c94538f82f?s=144" /> -->
<!-- <meta property="og:image" content="https://secure.gravatar.com/avatar/cc18506d6fe15c27aeeab0c94538f82f?s=144"/> -->
<meta property="og:site_name" content="Ryan Seys"/>
<title>{{ page.title }}</title>
<link rel="icon" type="image/png" href="/img/favicon.png">
{% javascript ryanseys %}
{% stylesheet styles %}

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
