<div class='bg'></div>
<div class="header">
  <a class="header-name" style="font-size: 12pt;" href="/">Ryan Seys</a>
  <div class="phone expand-icon"><a class="clickable" onclick="toggleMenu()"><i class="icon-reorder"></i></a></div>
  <div class='floatcontainer'>
  <ul class='header-links'>
    <div id="links" class="hidden-phone">
      <li><a href="/blog">Blog</a></li>
      <br class="phone" />
      <li><a href="/projects">Projects</a></li>
      <br class="phone" />
      <li><a href="/about">About</a></li>
    </div>
  </ul>
  </div>
</div>
