<div class="header">
  <div class="pure-menu pure-menu-fixed pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading" style="padding: 8px 20px;" href="/">Ryan Seys</a>
    <div class="phone expand-icon"><a class="clickable" onclick="toggleMenu()"><i class="icon-reorder"></i></a></div>
    <ul>
      <div id="links" class="hidden-phone">
        <li><a href="/projects">Projects</a></li>
        <br class="phone" />
        <li><a href="/blog">Blog</a></li>
        <br class="phone" />
        <li><a href="/resume">Resume</a></li>
      </div>
    </ul>
  </div>
</div>
