<div class="circular"></div>
<br />
<h3>About</h3>
<p>
  I'm Ryan. I'm a software engineering undergrad at Carleton University, a passionate web developer and open-source advocate. I love to invent, build and <code>git push</code> on a regular basis. Some of my favourite things include caffeine, photography, and just thinking about stuff.
</p>
<p>
  I'm currently working at Mozilla as an Identity Intern, helping build a more open and secure web.
</p>
<p>
  You can email me at: <a href="mailto:ryan@ryanseys.com"><u>ryan@ryanseys.com</u></a>
</p>
<p><a href="/resume">Peruse my resume &rarr;</a></p>

<h3>Projects</h3>
<p>
  Awesome coding projects o' mine. Source code included of course! :)
</p>
<p><a href="/projects">Check out my projects &rarr;</a></p>

<h3>Blog</h3>
<p>
  A collection of ramblings about whatever is on my mind. Trying my best to make my English teachers proud.
</p>
<p><a href="/blog">Read my blog &rarr;</a></p>

<h3>Photography</h3>
<p>
  Capturing brief splinters of time with my camera and sharing them with the world.
</p>
<p><a href="https://secure.flickr.com/photos/ryanseys">Flick through my pics &rarr;</a></p>
