<!-- <div class="circular"></div> -->
<div class='name'>RYAN SEYS</div>
<div class='links'>
  <span><a href='/blog'>BLOG</a></span>
  <span><a href='/projects'>PROJECTS</a></span>
  <span><a href='/about'>ABOUT</a></span>
</div>
<br />
<div style='text-align:center;'>I <b>make</b> things that make lives <b>easier.</b></div>
<hr style='margin-top:20px; padding-bottom:20px;' />
{% assign posts = site.posts %}
{% for post in posts %}
  {% if post.categories contains 'about' %}
  {% else %}
  {% capture time %}{{ post.content | reading_time }}{% endcapture %}
  {% capture footer %}{{ post.content | split:"<!-- start_footer -->" | last }}{% endcapture %}
  <small class='postinfo'><i>{{ time }}</i> &sdot; {{ post.date | date:'%d %b %Y' }}</small>
  <a href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
  </a>
  {% if post.thumb %}
    <img src="{{ post.thumb }}" alt="" class="thumb">
  {% endif %}
  {% if post.excerpt != post.content %}
    {{ post.excerpt }}
    {% if footer != post.content %}
      {{ footer }}
    {% else %}
      <a href="{{ post.url }}">
        <p>Continue reading &rarr;</p>
      </a>
    {% endif %}
  {% else %}
     {{ post.content }}
  {% endif %}
  {% if post != posts.last %}
    <hr style='margin-bottom:20px;' />
  {% else %}
    <br />
  {% endif %}
  {% endif %}
{% endfor %}
