<a href="/"><h1>Ryan Seys</h1></a>
<p style="margin:-15px 0 15px;">I like to code.</p>
<p style="display:inline;">Stalk me on:&nbsp;
  <a href="https://github.com/ryanseys" title="Github" target="_blank">
    <div style="font-size: 16px; display:inline;">
      <i class="icon-github"></i>&nbsp;
    </div>
  </a>
  <a href="https://twitter.com/ryanseys" title="Twitter" target="_blank">
    <div style="font-size: 16px; display:inline;">
      <i class="icon-twitter"></i>&nbsp;
    </div>
  </a>
  <a href="http://ca.linkedin.com/in/rseys" title="LinkedIn" target="_blank">
    <div style="font-size: 16px; display:inline;">
      <i class="icon-linkedin"></i>&nbsp;
    </div>
  </a>
  <a href="mailto:ryan@ryanseys.com" title="Email" target="_blank">
    <div style="font-size: 16px; display:inline;">
      <i class="icon-envelope-alt"></i>&nbsp;
    </div>
  </a>
</p>
<h2>Projects</h2>
{% assign projects = site.tags.project %}
<div class="highlight"><pre><code>{% for project in projects %}<span class="nv">$</span> cd <a href="/#{{project.name}}" title="{{project.title}}">{{project.name}}</a>{% if project != projects.last %}<br />{% endif %}{% endfor %}
</pre></code></div>
<h2>Blog</h2>
<div class="highlight"><pre><code><span class="nv">$</span> cd <a href="/blog">blog</a></code></pre></div>
