<h3>
  Me!
</h3>
<p>
  Hi! I'm a Software Engineering undergraduate studying at Carleton University in Ottawa, ON, Canada. This site will act as a portal into my life, my adventures, my successes and likely some failures too. Below is a list of sections of my site with their intended purpose. Check them out, or feel free to roam around.
</p>

<h3>Projects</h3>
<p>
  As a developer, I'm constantly making things. Sometimes those things turn out to be pretty awesome, and so this section is devoted to them and their stories. Some of these projects I have worked on in my spare time, others I have developed as part of my employment, and some are a mix of both, but all of them are pretty great. Let me know what you think.
<br />
<br />
  <a href="/projects">Check out my projects here.</a>
</p>
<h3>Blog</h3>
<p>
  I like to write code. Syntatical stories. But other times code cannot express certain feelings, and that's why English was invented. The blog will likely be a collection of ramblings about whatever is on my mind. Again, feel free to let me know what you think about what I think.
<br />
<br />
  <a href="/blog">Read my blog here.</a>
</p>
