#about hr {
  margin-top:-14px;
  margin-bottom:2px;
}

#about th {
  font-size:11pt;
  font-weight: bold;
  margin-bottom:2px;
}

#about ul {
  margin:2px 0 20px;
}

body {
  padding:15px;
  font:12pt/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#444;
}

h4 {
  font-variant:small-caps;
  margin-top: 4px;
  margin-bottom: 12px;
  color: black;
}

#titlename {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  font-variant: small-caps;
  position: relative;
  top: 50px;
  margin-top: -48px;
}

.go_right {
  float:right;
}

/*.resumelinks {
  position: relative;
  top:-20px;
}*/

/* Last column of job/school details */
tr th:nth-child(3) {
  text-align: right;
  width:40%;
}

/* Middle column of job/school details */
tr th:nth-child(2) {
  text-align: center;
  width:30%;
}

/* First column of job/school details */
tr th:nth-child(1) {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  width:35%;
}

th {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: none;
  color: black;
}

.jobrole {
  margin-top: 2px;
  margin-bottom: -4px;
  margin-left: 8px;
  color: black;
  font-size:11pt;
  /*font-family:Calibri;*/
}

.color_link {
  color:#39c;
  font-weight:400;
}

#about ul {
  padding-top: 2px;
  padding-bottom:0px;
  margin-bottom: 0px;
}

#about ul li {
  margin-left: -15px;
  margin-top: -2px;
  font-size: 11pt;
  margin-bottom: 0px;
}

#about a {
  color: #444;
}

#about th a {
  font-weight: bold;
  color: black;
}

#about strong a {
  font-weight: bold;
  color:#222;
}

.nobullets {
  list-style:none;
  list-style-position:outside;
  padding-left:20;
  margin-left:0;
}

.go_right.top_link {
  position: relative;
  top: -48px;
}

#about table {
  margin-bottom:-10px;
}

#about p {
  margin-bottom: 4px;
  font-size:12pt;
}

.top_link {
  position: relative;
  top:-42px;
}

@media screen and (max-width: 500px) {

  .resumelinks {
    clear:both;
    text-align: center;
    display: block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: inherit;
  }

  #titlename {
    top: 0px;
    margin-top: -10px;
  }

  .go_right {
    float:none;
  }

}
