/*
*= require pure
*= require pygment_trac
*= require font-awesome
*= require fonts
*/

body {
  padding:15px 10px 0 10px; /* top right bottom left */
  line-height: 1.7em;
  font:11pt/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:#444;
}

img[alt=PhotoGPSThumb] {
  margin:5px 10px 5px 0;
  float:left;
  height:100px;
  width:100px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

img[alt=MozillaandMe]{
  margin:5px 10px 5px 0;
  float:left;
  width:121px;
  height:162px;
}

img[alt=MozParis] {
  margin:10px 0 2px 5px;
  float:right;
  width:122px;
  height:122px;
}

img[alt=HabitBook] {
  margin:5px 10px 0 0;
  float:left;
  width:70px;
}

.pure-menu-heading {
  font-weight: bold;
}

.footer {
  bottom:0;
  left:0;
  float:left;
  clear: both;
  margin:0;
  padding:0;
  width:100%;
  text-align: center;
  font-size:12pt;
}

.footer a {
  text-decoration:none;
  color:#444;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h2, h3 {
  margin:0 0 14px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font:11pt/1.5 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:48px;
  text-align: center;
}

h2 {
  color:#393939;
  font-size: 21px;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:16px;
  color:#444;
  margin-top:-0.6em;
  display:block;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#444;
  font-size:13px;
  word-wrap:break-word;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

img {
  max-width:100%;
}

.thumb {
  margin:5px 10px 5px 0;
  float:left;
  height:100px;
  width:100px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

strong {
  color:#222;
  font-weight:700;
}

.circular {
  width: 125px;
  height: 125px;
  float:left;
  margin-right:20px;
  margin-bottom:10px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  background: url(/img/me.png) no-repeat;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.header {
  margin:0;
}

.clickable {
  cursor: pointer;
}

.header .pure-menu {
  padding: 0.5em;
}

.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa;
}

.header .pure-menu ul {
  float: right;
  padding-right: 10px;
}

.content {
  margin:0;
  margin-top:36px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding:15px 10px 0 10px; /* top right bottom left */
}

.pure-menu ul div {
  position:fixed;
  top:8px;
  right:0;
  float:right;
}

.expand-icon {
  position:fixed;
  top:8px;
  right:0;
  float:right;
}

.phone {
  display:none;
}

.pure-menu .pure-menu-fixed .pure-menu-horizontal {
  max-height:36px;
}

@media screen and (max-width: 400px) {
  .phone {
    display: inline-block;
  }
  .pure-menu ul {
    display: none;
  }

  .pure-menu ul div {
    background-color: white;
    border: 1px solid #DDD;
    position: fixed;
    top:50px;
    right:0;
  }
  .pure-menu ul .hidden-phone {
    display: none;
  }
  .pure-menu ul .show-phone {
    display: inline-block;
  }
}
