---
layout: default
title: Blog
categories: blog
sitemap:
  priority: 0.9
  changefreq: weekly
---

<div id="blog">
{% assign blogposts = site.categories.blog %}
{% for post in blogposts %}
  <!-- {% capture time %}{{ post.content | reading_time }}{% endcapture %} -->
  <small class='timeanddate' >{{ post.date | date:'%a %d %b %Y' }}</small>
  <a href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
  </a>
  {% if post.excerpt != post.content %}
    {{ post.excerpt }}
    <a href="{{ post.url }}">
      <p>Continue reading &rarr;</p>
    </a>
  {% else %}
   {{ post.content }}
  {% endif %}
  {% if post != blogposts.last %}
    <hr style='margin-bottom:20px;' />
  {% endif %}
{% endfor %}
</div>
