---
layout: default
title: Blog
categories: blog
---

{% assign blogposts = site.categories.blog %}
{% for post in blogposts %}
  <small style="float:right; margin-top:5px;">{{ post.date | date:'%a %d %b %Y' }}</small>
  <a href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
  </a>
  {% assign truncated_post = post.content | split:"<!-- truncate_here -->" | first %}
  {% if truncated_post != post.content %}
  {{ truncated_post | append:".."}}
  <a href="{{ post.url }}">
    <p>Continue reading &rarr;</p>
  </a>
  {% else %}
   {{ post.content }}
  {% endif %}
{% endfor %}
