---
layout: default
title: Blog
categories: blog
---

<div id="blog" style="padding-top:30px; margin-top:-23px;">
{% assign blogposts = site.categories.blog %}
{% for post in blogposts %}
  {% capture time %}{{ post.content | reading_time }}{% endcapture %}
  <small style="float:right; margin-top:1px;"><i>{{ time }} min read</i> &sdot; {{ post.date | date:'%a %d %b %Y' }}</small>
  <a href="{{ post.url }}">
    <h3>{{ post.title }}</h3>
  </a>
  {% assign truncated_post = post.content | split:"<!-- truncate_here -->" | first %}
  {% if truncated_post != post.content %}
  {{ truncated_post | append:".."}}
  <a href="{{ post.url }}">
    <p>Continue reading &rarr;</p>
  </a>
  {% else %}
   {{ post.content }}
  {% endif %}
  {% if post != blogposts.last %}
    <hr />
  {% endif %}
{% endfor %}
</div>
